<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue Todolist</title>

        <!-- CSS -->
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        
        <div id="app">
            <div>
                    <input type="text" v-model="newTodo" placeholder="Cosa vuoi fare?">

                    <button @click="addTodo()">
                            Aggiungi in lista
                    </button>
            </div>

            <div>
                    <ul v-if="todos.length > 0">
                            <li v-for="(elementoToDo, indiceDelTodo) in todos" :class="elementoToDo.done == true ? 'complete' : '' ">
                                    {{elementoToDo.text}}

                                    <button @click="removeTodo(indiceDelTodo)">
                                        X
                                    </button>
                            </li>
                    </ul>
                    <p v-else>
                            Non ci sono task
                    </p>
            </div>
        </div>
        
        <!-- Importazione Vue -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

        <!-- Mio Script -->
        <script src="js/scripts.js" type="text/javascript"></script>

    </body>
</html>